.column {
  height: 250px;
  width: 250px;
  /*margin: 10px 10px 10px 10px;*/
  padding: 0px;
}

.lol {
    font-weight: bold;
    color: black;
    text-align: left;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 150px;
    width: 250px;
    background-color: grey;
    margin: 0;
}

.title {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

div.thumbnail {
    padding: 0;
    margin: 0;
}
.caption {
    height: 100px; 
}
.column:hover {
    border: 2px solid black;
}