.column {
  height: 250px;
  width: 200px;
  margin: 10px 10px 10px 10px;
}

.lol {
    font-weight: bold;
    color: black;
    text-align: left;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 150px;
    width: 200px;
    background-color: grey;
    margin: 0;
}

.title {
    font-size: 24px;
}

div.thumbnail {
    padding: 0;
}