.container {
  height: 300px;
  overflow: auto;
}

.column {
  height: 150px;
  width: 150px;
  margin: 10px 10px 10px 10px;
  border: solid black 0.5px;
}
.row {  
  margin: 0 auto;
  width: 680px;
}
.scrollable {
  height: 100%;
}

.add-event {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}