.container {
  height: 300px;
  overflow: auto;
}

.column {
  height: 400px;
  width: 200px;
  margin: 10px 10px 10px 10px;
  border: solid black 1px;
}
.row {  
  margin: 0 auto;
  width: 680px;
}
.scrollable {
  height: 100%;
}

.add-event {
  font-size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  border-radius: 15px;
}