<div class="container" (keyup.enter)="login()">
  <div class="form-group">
    <label for="exampleInputEmail1">E-post</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-post" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Lösenord</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lösenord" [(ngModel)]="password">
  </div>
    <button class="btn btn-danger" (click)="login()">Logga in</button>
    <button class="btn btn-danger" (click)="resetPassword()">Glömt lösenord?</button>
  <br>
  
  <h5>{{loginNotation}}</h5>
</div>