<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
        <li class="active"><a [routerLink]="['Home']">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['My-demosearch']">Search<span class="sr-only"></span></a><li>
        <li class="active"><a [routerLink]="['My-detailview']">Detail View<span class="sr-only"></span></a><li>
    </ul>
    
  <!--  <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Login <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Create account <span class="sr-only">(current)</span></a></li>
    </ul> -->
  </div>
</nav>

<div class="container2">
  <router-outlet></router-outlet>
</div>

